@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #F37820;
    color: #000000;
    font-family: Montserrat One, sans-serif;
}

main {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px; 
    flex-direction: column; 
    align-items: center;
    gap: 20px;
    position: relative;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    
}

input[type="date"],
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
select {
    background-color: #ffff;
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: Krona One, sans-serif;
    color: #000000;
}

select[multiple] {
    min-height: 120px;
}


.formulario {
    width: calc(60% - 900px);
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    margin-left: 20px;
    top: 0;
}

.titulo__destaque {
    font-family: Krona One, sans-serif;
    color: #000000; 
    text-align: center;
    margin-bottom: 20px;
}

.apresentacao {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.titulo__nome {
    background-color: #ffff;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: Krona One, sans-serif;
    color: #000000;
}

.apresentacao__conteudo {
    width: calc(60% - 10px);
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffff;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: Krona One, sans-serif;
}

.area__interesse {
    position: relative;
    width: 100%;
}

.selecionar__opcao select {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23424242"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 15px;
    cursor: pointer;
}

.botoes {
    display: flex;
    justify-content: center;
}

.botao__enviar,
.botao__cancelar {
    padding: 10px 20px;
    color: #FF9F76;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    width: 120px;
    margin: 10px;
}

.botao__enviar {
    width: 250px;
    padding: 10px;
    border: 1px solid #ff9f76;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 1px;
    font-family: Krona One, sans-serif;
    color: #F6F6F6;
    background-color:#ff8c56 ;
}

.botao__cancelar {
    width: 250px;
    padding: 10px;
    border: 1px solid #ff9f76;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 1px;
    font-family: Krona One, sans-serif;
    color: #ff8c56;
    background-color: #F6F6F6;
}

.apresentacao__imagem {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.campos__obrigatorios {
    font-family: Krona One, sans-serif;
    color: #ff0000;
    font-size: 16px;
    margin-top: 5px;
}
